/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 1em;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex:1;
    padding:2em;
}

.navbar {
    border-bottom: 2px solid #486572;
}

a {
    text-decoration: none;
    
}

.name-user {
    color: #486572;
    font-weight: 600;
}

.img-user {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.img-post {
    max-height: 33.75rem;
}

.card-title {
    color: #486572;
}

.btn-like-comment > i {
    color: #486572;
}

.container-form {
    width: 100%;
    height: auto;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.btn-form {
    background-color: #486572!important;
    color: #fff;
}

.btn-form:hover {
    background-color: #efeae4!important;
    color: #486572;
}

.img-logo {
    width: 200px;
}

.container-back > i {
    font-size: 2em;
    cursor: pointer;
}

.container-back > i:hover {
    font-size: 2em;
    color: #486572;
    cursor: pointer;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #efeae4!important;
    color: #486572;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}

.link-tx {
    text-decoration: none;
    color: #9F353B;
    font-weight: bold;
}

.navbarnotfound {
    border-bottom: 2px solid #486572;
}

.notfoundlogo {
    width: 100px;
    margin:0 1em;
}

.notfound >div > h1 {
    color:#9F353B;
    font-size: 8em;
    margin-right:20px;
}

.notfound > div > p {
    font-size: 5em;
}

.notfound > p {
    font-size: 4em;
    color: #486572;
}

.notfound > a {
    text-decoration: none;
    background-color: #486572!important;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.notfound > a:hover {
    text-decoration: none;
    background-color: #efeae4!important;
    color: #486572;
    padding: 1em;
    border-radius: 10px;
}