.single-container {
    padding: 20px;
    padding-bottom: 100px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.single-post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.fa-arrow-left{
    margin-left: 0;
}

.back-home-link {
    position: absolute;
    left: 20px;
    top: 120px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    z-index: 1000;
}
.single-container .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}